.image-preview img {
    border: 35px solid;
    border-color: rgb(255, 0, 0) rgb(0, 255, 21) rgb(8, 0, 255) #eeff00;
    display: block;
    margin: auto;
  }
  
  p > span {
    color: red;
  }
  #header span {
    color: rgb(119, 0, 255);
  }
  span {
    color: rgb(255, 0, 98);
  }
  #header :last-child {
    color: rgb(255, 0, 166);
  }
  #header span:first-child:hover {
    color: blue;
  }